*{
    margin: 0;
    padding: 0;
    
}

.miNab{
    background-color: #E9D8A6;
    color: black;
}
.logo{
    color: #001219;
    text-decoration: solid;
}

.imgLogo{
    height: 60px;
    width: 40px;    
}

.button{
    background-color: #001219;
    border-radius: 0 50%;
}